@model MVCCrudDemo.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AccountNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.AccountNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AccountOwner)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.AccountOwner)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.BankName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BankName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Date)
            </dd>
    </dl>
</div>
<div>
    <div class="row mt-3">
        <div class="col-md-2">
            <div class="form-group">
                <a asp-action="Edit"
                   class="btn btn-primary">Edit</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <a asp-action="Index"
                   class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</div>
